# Drizzle
DATABASE_URL=local.db

ORIGIN=""

# Better Auth
# For production, generate with: openssl rand -hex 16
BETTER_AUTH_SECRET=chang-me-generate-a-real-secret
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
